/.classpath
/.project
/.settings
/RUNNING_PID
tmp

class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs
project/project
project/target

# IntelliJ Specific
*.iml
*.ipr
*.iws
.idea
out

# Bower & Node
bower_components
node_modules
/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
