<div class="tweet">
    <span>
        <a tooltip-placement="bottom" tooltip="Visit Twitter profile" 
            data-ng-href="http://www.twitter.com/{{tweet.screenName}}" target="_blank">
            <img class="tweet-thumbnail" data-ng-src="{{tweet.imageUrl}}" />
        </a>
    </span>
    
    <a tooltip-placement="bottom" tooltip="Visit Twitter profile" 
        data-ng-href="http://www.twitter.com/{{tweet.screenName}}" target="_blank">
        <span class="tweet-username">{{tweet.userName}}</span>
    </a>
    <span class="tweet-screenname">@{{tweet.screenName}}</span>
    <span class="tweet-time-ago" am-time-ago="tweet.timeCreatedUnix"></span>
    <div class="tweet-text">{{tweet.text}}</div>
</div>